<section>
    <div class="loginForm">
      <h2 class="welcome-txt">Enter code</h2>
    </div>
    <div class="mid-section">
    <div>
        <p>We’ve sent mail with an activation code to your email     </p>
    </div>
    <div class="">
        <form method="get" class="digit-group d-flex justify-content-between" data-group-name="digits" data-autosubmit="false" autocomplete="off">
            <input type="text" id="digit-1" name="digit-1" data-next="digit-2" minlength="1" maxlength="1"  [(ngModel)]="digits.digit1" class="digit-box" ngClass=""/>
            <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" minlength="1" maxlength="1" [(ngModel)]="digits.digit2" class="digit-box"/>
            <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" minlength="1" maxlength="1" [(ngModel)]="digits.digit3" class="digit-box"/>
            <input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" minlength="1" maxlength="1" [(ngModel)]="digits.digit4" class="digit-box"/>
            <input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" minlength="1" maxlength="1" [(ngModel)]="digits.digit5" class="digit-box"/>
            <input type="text" id="digit-6" name="digit-6" data-previous="digit-5" minlength="1" maxlength="1" [(ngModel)]="digits.digit6" class="digit-box"/>
        </form>
    </div>
  
  
    
    <div class="mb-3">
      <input  data-dismiss="modal" class="btn btn-primary"
        id="exampleFormControlInput1" value="Login" (click)="otpVerification()">
    </div>
    <div class="register">
      <span>already have an account? </span><a routerLink="/login" class="router_link_a">Login</a>
    </div>
  </div>
</section>
