<section>
    <form [formGroup]="myForm">
        <div class="loginForm">
            <h2 class="welcome-txt">Create An Account</h2>
        </div>
        <div class="mid-section">
            <div class="mb-2">
                <label for="email" class="form-label  ms-0"
                    style="font-family: roboto; font-style: normal; font-size: 14px; font-weight: 400;">New
                    Password</label>

                <div class="right-border form-control">
                    <input placeholder="" [type]="show1?'text':'password'" class="" [(ngModel)]="password"
                         name="password" formControlName="password">
                    <img *ngIf="show1==true" src="assets/images/eye.svg" class="input-icon" (click)="showPass1(!show1)">
                    <img *ngIf="show1!=true" src="assets/images/eye-off.svg" class="input-icon"
                        (click)="showPass1(!show1)">

                </div>

            </div>
            <div class="mb-2">
                <label for="email" class="form-label  ms-0"
                    style="font-family: roboto; font-style: normal; font-size: 14px; font-weight: 400;">Confirm New
                    Password</label>

                <div class="right-border form-control">
                    <input placeholder="" [type]="show2?'text':'password'" class=""
                        [(ngModel)]="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
                    <img *ngIf="show2==true" src="assets/images/eye.svg" class="input-icon" (click)="showPass2(!show2)">
                    <img *ngIf="show2!=true" src="assets/images/eye-off.svg" class="input-icon"
                        (click)="showPass2(!show2)">

                </div>

            </div>
            <div>

                <div *ngFor="let rule of passwordRules" class="validation-message">
                    <img [src]="getValidationImage(rule)" alt="Validation">
                    {{ rule.errorMessage }}
                </div>
                <div *ngIf="passwordMatchError" class="validation-message">
                    <img [src]="red_wrong_image" alt="Wrong">
                    Passwords do not match.
                </div>
            </div>
            <div class="mb-3">
                <input data-dismiss="modal" class="btn btn-primary" id="exampleFormControlInput1" value="Login"
                    (click)="setPassword()">
            </div>
            <div class="register">
                <span>already have an account? </span><a routerLink="/login" class="router_link_a">Login</a>
            </div>
        </div>
    </form>
</section>